@model Spine.Services.EmailTemplates.Models.AcceptInvite
@{
}

Hello @Model.Name.Trim(),
<br />

You have been invited to join  @Model.AppName.
<br />

<br />

Kindly <a href="@Model.ActionLink" target="_blank"> accept the invite and set up your account </a>
