@model Spine.Services.EmailTemplates.Models.AcceptInvite
@{
}

Hello @Model.Name.Trim(),
<br />

You are yet to confirm your account on  @Model.AppName.
<br />


Kindly <a href="@Model.ActionLink" target="_blank"> confirm your account</a>
