@model Spine.Services.EmailTemplates.Models.ResetPassword
@{
}

Hello @Model.Name.Trim(),
<br />

You have recently requested to reset your password on @Model.AppName..
<br />

Click <a href="@Model.ActionLink" target="_blank"> here to reset your password </a>.
<br />

Ignore this  message if you did not attempt this.
